<html ng-app="ngMPlayerApp" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
        <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
          .playing {
            background : cornsilk;
          }
        </style>
    </head>

    <body ng-controller="ngMPlayerController as vm" ng-cloak layout="column">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-title">PIRadio.FM</h2>
                <div>

                </div>
                <span flex></span>
                <md-switch class="md-primary" ng-model="vm.switch">
                  {{ (vm.switch) ? 'Headphone' : vm.fmStation + " FM" }}
                </md-switch>
                <ng-md-icon ng-click="vm.stop()" icon="stop" size="40" style="fill: white"></ng-md-icon>
                <ng-md-icon ng-click="vm.mute(true)" icon="volume_off" size="40" style="fill: white"></ng-md-icon>
                <input ng-model="vm.volume" ng-change="vm.setVolume()" min="0" max="100" type="range" style="width: 15%;" />
            </div>
        </md-toolbar>
        <div layout-xs="column">
            <div flex="33" ng-repeat="station in vm.stations">
              <md-card ng-click="vm.onSelect(station,$index)" style="cursor : pointer" ng-class="station.isPlay ? 'playing' : ''">
                <md-card-header>
                  <md-card-avatar>
                    <img class="md-user-avatar" ng-src="/images/{{station.image}}">
                  </md-card-avatar>
                  <md-card-header-text>
                    <span class="md-title">{{station.title}}</span>
                    <span class="md-subhead">
                      {{station.genre}} | {{station.description}}
                      <ng-md-icon icon="volume_up" size="18" style="fill: green" ng-show="station.isPlay"></ng-md-icon>
                      </span>
                  </md-card-header-text>
                </md-card-header>
              </md-card>
            </div>
        </div>
        <br />
    </body>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
    <script src="/js/ngMPlayer.module.js"></script>
    <script src="/js/ngMPlayer.service.js"></script>
    <script src="/js/ngMPlayer.controller.js"></script>

</html>
